.detail-container {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.detail-container--description {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.detail--basic-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.basic-info--text {
    font-size: large;
}

.label--filled {
    background-color: var(--light-grey);
    padding: 4px 6px;
    border-radius: 3px;
    font-size: small;
    color: black;
}

.detail-description--info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.detail--section-title {
    color: var(--light-grey);
    font-weight: 700;
    padding: 0 0 8px 0;
}

.detail-container--description .detail--paragraph {
    margin: 0;
}

.detail--movie-title {
    font-size: 58px;
    margin: 0;
}

.detail--rating-labels {
    display: flex;
    align-items: center;
    gap: 16px;
}

.label--border {
    padding: 8px;
    border: 1px solid var(--mid-grey);
}

.label--border.label--left {
    padding: 8px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.label--border.label--right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.label--background-yellow {
    background-color: var(--yellow);
    color: black;
    font-weight: 900;
}

.label--background-red {
    background-color: var(--red);
    color: white;
}


@media (max-width: 1035px) {
    .detail-container {
        grid-template-columns: 1fr;
    }
}