@import "./home.css";
@import "./detail.css";

:root {
  --yellow: #FF9F1C;
  --red: #FF3030;
  --green: #2EC4B6;
  --dark: #0A1014;
  --grey: #1B2329;
  --mid-grey: #353F4C;
  --light-grey: #7A8C99;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #eee;
}

* {
  box-sizing: border-box;
}

p, ul {
  line-height: 1.4em;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  text-align: left;
}

.container {
  padding: 0 130px;
}

.movie-poster {
  border-radius: 4px;
}

.text--light-grey {
  color: var(--light-grey);
}

.relative {
  position: relative;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-arrow:hover {
  fill: #FFF;
}

.force-visibility {
  visibility: visible;
  opacity: 1;
}

.text-center {
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 6rem;
  }
}

@media (max-width: 950px) {
  .container {
    padding: 0 4rem;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 0 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0A1015;
  }
}