.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.search-bar {
  width: 100%;
  background-color: white;
  border: 1px solid var(--mid-grey);
  border-radius: 5px;
  color: var(--dark);
  padding: 12px 12px 12px 30px;
  margin-bottom: 1rem;
}

.search-icon {
  position:absolute;
  left: 10px;
  top: 13px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 22px;
}

.box {
  position: relative;
}

.box:hover .image-wrapper {
  opacity: 0.3;
  background-color: var(--mid-grey);
}

.box--overlay-info {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.box--overlay-heart {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.box:hover .box--overlay-info {
  visibility: visible;
  opacity: 1;
}

.box:hover .box--overlay-heart {
  visibility: visible;
  opacity: 1;
}

.box--overlay-info--title {
  font-size: medium;
}

.box--overlay-info--year {
  font-size: small;
}

.placeholder--image {
  margin-top: 16rem;
}

.placeholder--title {
  font-size: large;
  text-align: center;
  line-height: 28px;
}

.placeholder--description {
  font-size: small;
  text-align: center;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 22px;
  }
}

@media (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 22px;
  }
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
